<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>chika_walk_front</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>chika_front_1.png</string>
				<string>chika_front_3.png</string>
			</array>
		</dict>
		
		<key>chika_walk_left</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>chika_left_1.png</string>
				<string>chika_left_3.png</string>
			</array>
		</dict>
		
		<key>chika_walk_right</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>chika_right_1.png</string>
				<string>chika_right_3.png</string>
			</array>
		</dict>
		
		<key>chika_walk_back</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>chika_back_1.png</string>
				<string>chika_back_3.png</string>
			</array>
		</dict>
		
	</dict>
</dict>
</plist>
