<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>world_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>world_node.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>world_sheet.png</string>
            <key>size</key>
            <string>{678,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:855f0581581fc9769e499fbe1054200d:1/1$</string>
            <key>textureFileName</key>
            <string>world_sheet.png</string>
        </dict>
    </dict>
</plist>
